@using BW_Clinica_Veterinaria.Models.Entity
@model BW_Clinica_Veterinaria.Dto.RegisterDto

@{
    ViewData["Title"] = "Register";
    List<Ruolo> ruoli = ViewBag.Ruoli;
}

<div class="d-flex justify-content-center align-items-start vh-100" style="margin-top: 50px;">
    <div class="form">
        <div class="title">Registrati</div>
        <div class="subtitle">Crea il tuo account</div>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-container ic1">
                <input asp-for="Email" class="input" />
                <div class="cut"></div>
                <label asp-for="Email" class="iLabel">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-container ic2">
                <input asp-for="Password" type="password" class="input" />
                <div class="cut"></div>
                <label asp-for="Password" class="iLabel">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="input-container ic2">
                <select asp-for="Ruolo" class="input">
                    @foreach (var r in ruoli)
                    {
                        <option value="@r.Nome">@r.Nome</option>
                    }
                </select>
                <div class="cut cut-short"></div>
                <label asp-for="Ruolo" class="iLabel select-label">Ruolo</label>
                <span asp-validation-for="Ruolo" class="text-danger"></span>
            </div>
            <button type="submit" class="submit">Registrami</button>
        </form>
    </div>
</div>