@model BW_Clinica_Veterinaria.Models.Entity.Prodotto

@{
    ViewData["Title"] = "Modifica Prodotto";
}

<h2>Modifica Prodotto</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tipo" class="control-label"></label>
        <input asp-for="Tipo" class="form-control" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdDitta" class="control-label"></label>
        <input asp-for="IdDitta" class="form-control" placeholder="Inserisci l'ID della Ditta" />
        <span asp-validation-for="IdDitta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdCassetto" class="control-label"></label>
        <input asp-for="IdCassetto" class="form-control" placeholder="Inserisci l'ID del Cassetto" />
        <span asp-validation-for="IdCassetto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salva" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Annulla</a>
    </div>
</form>
