@model BW_Clinica_Veterinaria.Models.Entity.Vendita

@{
    ViewData["Title"] = "Dettagli Vendita";
}

<h1>Dettagli Vendita</h1>

<div>
    <h4>Vendita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Codice Fiscale Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodiceFiscaleCliente)
        </dd>
        <dt class="col-sm-2">
            Prodotto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prodotto.Nome)
        </dd>
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            Ricetta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ricetta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Indietro</a>
</div>
