@model BW_Clinica_Veterinaria.Models.Entity.Vendita

@{
    ViewData["Title"] = "Dettagli Vendita";
}

<h1 class="title text-center mb-4">Dettagli Vendita</h1>

<div class="card shadow p-4 mb-4">
    <h4 class="subtitle">Vendita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            Codice Fiscale Cliente
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CodiceFiscaleCliente)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            Prodotto
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Prodotto.Nome)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            Data
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            Ricetta
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ricetta)
        </dd>
    </dl>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-secondary rounded-pill">Indietro</a>
</div>
