@model string

@{
    ViewData["Title"] = "Ricerca Vendite per Codice Fiscale";
}

<h1 class="title text-center mb-4">Ricerca Vendite per Codice Fiscale</h1>

<form asp-action="RicercaPerCodiceFiscale" method="post" class="form mx-auto mt-4">
    <div class="input-container ic1">
        <input type="text" class="input" id="codiceFiscale" name="codiceFiscale" placeholder=" " />
        <div class="cut"></div>
        <label for="codiceFiscale" class="iLabel">Codice Fiscale</label>
    </div>
    <button type="submit" class="submit">Cerca</button>
</form>

