@model BW_Clinica_Veterinaria.Dto.RicoveroDto

@{
    ViewData["Title"] = "AggiungiRicovero";
    List<BW_Clinica_Veterinaria.Models.Entity.Animale> animali = ViewBag.Animali;
}

<h1>AggiungiRicovero</h1>

<p>Aggiungi il ricovero di un animale registrato</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AggiungiRicovero" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataRicovero" class="control-label"></label>
                <input asp-for="DataRicovero" class="form-control" type="date"/>
                <span asp-validation-for="DataRicovero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAnimale" class="control-label"></label>
                <select asp-for="IdAnimale" class="form-select input-FPA">
                    @foreach (var a in animali)
                    {
                        <option value="@a.IdAnimale">@a.Name (@a.Tipologia)</option>
                    }
                </select>
                <span asp-validation-for="IdAnimale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" type="file" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aggiungi Ricovero" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Torna alla Homepage</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
