@model BW_Clinica_Veterinaria.Models.Entity.Animale

@{
    ViewData["Title"] = "AggiungiAnimale";
    List<BW_Clinica_Veterinaria.Models.Entity.Proprietario> proprietari = ViewBag.Proprietari;
}

<h1 class="title text-center mb-4">Aggiungi Animale</h1>

<form asp-action="AggiungiAnimale" class="form mx-auto" style="width: 100%; max-width: 600px;">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="input-container ic1">
        <input asp-for="Name" class="input" placeholder=" " />
        <div class="cut"></div>
        <label asp-for="Name" class="iLabel">Nome</label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="input-container ic2">
        <input asp-for="Tipologia" class="input" placeholder=" " />
        <div class="cut"></div>
        <label asp-for="Tipologia" class="iLabel">Tipologia</label>
        <span asp-validation-for="Tipologia" class="text-danger"></span>
    </div>

    <div class="input-container ic2">
        <input asp-for="Colore" class="input" placeholder=" " />
        <div class="cut"></div>
        <label asp-for="Colore" class="iLabel">Colore</label>
        <span asp-validation-for="Colore" class="text-danger"></span>
    </div>

    <div class="input-container ic2">
        <input asp-for="MicroChipCodice" class="input" placeholder=" " />
        <div class="cut"></div>
        <label asp-for="MicroChipCodice" class="iLabel">Microchip</label>
        <span asp-validation-for="MicroChipCodice" class="text-danger"></span>
    </div>

    <div class="input-container ic2">
        <input asp-for="DataNascita" class="input" type="date" placeholder=" " />
        <div class="cut"></div>
        <label asp-for="DataNascita" class="iLabel">Data di Nascita</label>
        <span asp-validation-for="DataNascita" class="text-danger"></span>
    </div>

    <div class="input-container ic2">
        <select asp-for="CodiceFiscaleProprietario" class="input">
            @foreach (var p in proprietari)
            {
                <option value="@p.CodiceFiscale">@p.Nome @p.Cognome</option>
            }
        </select>
        <div class="cut"></div>
        <label asp-for="CodiceFiscaleProprietario" class="iLabel">Proprietario</label>
        <span asp-validation-for="CodiceFiscaleProprietario" class="text-danger"></span>
    </div>

    <div class="d-grid gap-1">
        <button type="submit" class="submit btn btn-primary" style="text-decoration: none;">Aggiungi Animale</button>
        <a asp-controller="Home" asp-action="Index"
           class="submit btn btn-secondary"
           style="text-decoration: none;">
            Torna alla Homepage
        </a>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
