@model BW_Clinica_Veterinaria.Dto.RicoveroDto

@{
    ViewData["Title"] = "AggiungiRicovero";
    List<BW_Clinica_Veterinaria.Models.Entity.Animale> animali = ViewBag.Animali;
}

<h1>AggiungiRicovero</h1>

<p>Aggiungi il ricovero di un animale registrato</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-FPA" asp-action="AggiungiRicovero" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="title-FPA">Aggiungi Ricovero</p>
            <label class="label-FPA">
                <span>DataRicovero</span>
                <input asp-for="DataRicovero" class="input-FPA" type="date" placeholder="" required="">
                <span asp-validation-for="DataRicovero" class="text-danger"></span>
            </label>

            <label class="label-FPA">
                <label asp-for="IdAnimale" class="control-label"></label>
                <select asp-for="IdAnimale" class="form-select input-FPA">
                    @foreach (var a in animali)
                    {
                        <option value="@a.IdAnimale">@a.Name (@a.Tipologia)</option>
                    }
                </select>
            </label>

            <label class="label-FPA">
                <span>Foto</span>
                <input asp-for="Foto" class="input-FPA" type="file" placeholder="" required="">
                <span asp-validation-for="Foto" class="text-danger"></span>
            </label>

            <input type="submit" value="Aggiungi Ricovero" class="btn btn-primary submit-FPA fw-bold" />
            <a asp-action="Index" class="btn btn-secondary fw-bold border-button">Torna alla home</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}