@model BW_Clinica_Veterinaria.Models.Entity.Visita

@{
    ViewData["Title"] = "Aggiungi Visita";
}

<h2>Aggiungi Visita</h2>

<div class="row">
    <div class="col-md-4">
        <form class="form-FPA" asp-action="AggiungiVisita">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="title-FPA">Aggiungi Proprietario</p>
            <label class="label-FPA">
                <span>Data</span>
                <input asp-for="Data" class="input-FPA" type="datetime-local" placeholder="" required="">
                <span asp-validation-for="Data" class="text-danger"></span>
            </label>

            <label class="label-FPA">
                <span>Esame</span>
                <input asp-for="Esame" class="input-FPA" type="text" placeholder="" required="">
                <span asp-validation-for="Esame" class="text-danger"></span>
            </label>

            <label class="label-FPA">
                <span>CuraPrescritta</span>
                <input asp-for="CuraPrescritta" class="input-FPA" type="text" placeholder="" required="">
                <span asp-validation-for="CuraPrescritta" class="text-danger"></span>
            </label>

            <input type="hidden" asp-for="IdAnimale" />

            <input type="submit" value="Crea" class="btn btn-primary submit-FPA fw-bold" />
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary fw-bold border-button">Torna alla home</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
