@model BW_Clinica_Veterinaria.Dto.RicoveroDto

@{
    ViewData["Title"] = "AggiungiRicovero";
    List<BW_Clinica_Veterinaria.Models.Entity.Animale> animali = ViewBag.Animali;
}

<h1 class="text-center mt-5 mb-4">Aggiungi il ricovero di un animale registrato</h1>



<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form class="form-FPA mx-auto" asp-action="AggiungiRicovero" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
            <p class="title-FPA text-center">Aggiungi Ricovero</p>

            <label class="label-FPA">
                <span>Data Ricovero</span>
                <input asp-for="DataRicovero" class="input-FPA" type="date" placeholder="" required="">
                <span asp-validation-for="DataRicovero" class="text-danger"></span>
            </label>

            <label class="label-FPA">
                <label asp-for="IdAnimale" class="control-label"></label>
                <select asp-for="IdAnimale" class="form-select input-FPA">
                    @foreach (var a in animali)
                    {
                        <option value="@a.IdAnimale">@a.Name (@a.Tipologia)</option>
                    }
                </select>
            </label>

            <label class="label-FPA">
                <span>Foto</span>
                <div class="d-flex justify-content-center align-items-center input-FPA" style="height: 100%;">
                    <input asp-for="Foto" class="form-control-file" type="file" required="" style="margin: 0 auto;">
                </div>
                <span asp-validation-for="Foto" class="text-danger"></span>
            </label>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary submit-FPA fw-bold btn-lg rounded-pill mt-2">Aggiungi Ricovero</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-lg rounded-pill mt-2" style="text-decoration: none;">Torna alla home</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
