@model BW_Clinica_Veterinaria.Models.Entity.Visita

@{
    ViewData["Title"] = "Aggiungi Visita";
}

<h2>Aggiungi Visita</h2>

<form asp-action="AggiungiVisita">
    <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <input asp-for="Data" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Esame" class="control-label"></label>
        <input asp-for="Esame" class="form-control" />
        <span asp-validation-for="Esame" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CuraPrescritta" class="control-label"></label>
        <input asp-for="CuraPrescritta" class="form-control" />
        <span asp-validation-for="CuraPrescritta" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="IdAnimale" />
    <div class="form-group">
        <input type="submit" value="Aggiungi" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Visite" asp-route-id="@Model.IdAnimale">Torna alla Lista Visite</a>
</div>
