@{
    ViewData["Title"] = "Cerca Animale per Microchip";
}

<h2 class="title text-center mb-4">Cerca Animale per Microchip</h2>

<form id="searchForm" class="form mx-auto mt-4">
    <div class="input-container ic1">
        <input type="text" class="input" id="microchip" name="microchip" placeholder=" " />
        <div class="cut"></div>
        <label for="microchip" class="iLabel">Codice Microchip</label>
    </div>

    <button type="submit" class="submit" id="searchButton">Cerca</button>
</form>


<div id="result"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#searchForm").submit(function (e) {
                e.preventDefault();
                var microchip = $("#microchip").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CercaPerMicrochipJson", "Animal")',
                    data: { microchip: microchip },
                    success: function (response) {
                        console.log(response)
                        if (response.success) {
                            var ricovero = response.data;
                            var animal = ricovero.animale;
                            var animalDetails = `
                                        <div class="card mb-4" style="background-color: #303245; color: #eee;">
                                            <div class="row g-0">
                                                <div class="col-md-4 text-center my-auto">
                                                    <img src="${ricovero.foto}" alt="foto-${animal.name}" class="img-fluid rounded-start" style="max-height: 200px; max-width: 100%;">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">${animal.name}</h5>
                                                        <p class="card-text"><strong>Tipologia:</strong> ${animal.tipologia}</p>
                                                        <p class="card-text"><strong>Colore:</strong> ${animal.colore}</p>
                                                        <p class="card-text"><strong>Microchip:</strong> ${animal.microChipCodice}</p>
                                                        <p class="card-text"><strong>Data di Nascita:</strong> ${new Date(animal.dataNascita).toLocaleDateString('it-IT', { day: '2-digit', month: '2-digit', year: 'numeric' })}</p>
                                                        <p class="card-text"><strong>Data Inizio Ricovero:</strong> ${new Date(ricovero.dataRicovero).toLocaleDateString('it-IT', { day: '2-digit', month: '2-digit', year: 'numeric' })}</p>
                                                        <p class="card-text"><strong>Data Fine Ricovero:</strong> ${ricovero.dataFineRicovero ? new Date(ricovero.dataFineRicovero).toLocaleDateString() : 'In corso'}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`;
                            $("#result").html(animalDetails).addClass("mt-4"); // Aggiunge margine superiore
                        } else {
                            $("#result").html("<p class='text-danger'>" + response.message + "</p>").addClass("mt-4");
                        }
                    },
                    error: function () {
                        $("#result").html("<p class='text-danger'>Si è verificato un errore durante la ricerca.</p>").addClass("mt-4");
                    }
                });
            });
        });
    </script>



    <style>
        .form {
            background-color: #15172b;
            border-radius: 20px;
            box-sizing: border-box;
            padding: 20px;
            width: 320px;
        }

        .title {
            color: #15172b;
            font-family: sans-serif;
            font-size: 36px;
            font-weight: 600;
            margin-top: 30px;
        }

        .subtitle {
            color: #eee;
            font-family: sans-serif;
            font-size: 16px;
            font-weight: 600;
            margin-top: 40px;
        }

        .input-container {
            height: 50px;
            position: relative;
            width: 100%;
        }

        .ic1 {
            margin-top: 40px;
        }

        .ic2 {
            margin-top: 30px;
        }

        .input {
            background-color: #303245;
            border-radius: 12px;
            border: 0;
            box-sizing: border-box;
            color: #eee;
            font-size: 18px;
            height: 100%;
            outline: 0;
            padding: 4px 20px 0;
            width: 100%;
        }

        .cut {
            background-color: #15172b;
            border-radius: 10px;
            height: 20px;
            left: 20px;
            position: absolute;
            top: -20px;
            transform: translateY(0);
            transition: transform 200ms;
            width: 76px;
        }

        .cut-short {
            width: 50px;
        }

        .iLabel {
            color: #65657b;
            font-family: sans-serif;
            left: 20px;
            line-height: 14px;
            pointer-events: none;
            position: absolute;
            transform-origin: 0 50%;
            transition: transform 200ms, color 200ms;
            top: -20px;
        }

        .input:not(:focus) ~ .iLabel {
            color: #808097;
        }

        .input:focus ~ .iLabel {
            color: #dc2f55;
        }

        .submit {
            background-color: #08d;
            border-radius: 12px;
            border: 0;
            box-sizing: border-box;
            color: #eee;
            cursor: pointer;
            font-size: 18px;
            height: 50px;
            margin-top: 38px;
            text-align: center;
            width: 100%;
        }

            .submit:active {
                background-color: #06b;
            }
    </style>
}
