@{
    ViewData["Title"] = "Cerca Animale per Microchip";
}

<h2>Cerca Animale per Microchip</h2>

<form id="searchForm">
    <div class="form-group">
        <label for="microchip">Codice Microchip</label>
        <input type="text" class="form-control" id="microchip" name="microchip" />
    </div>
    <button type="submit" class="btn btn-primary" id="searchButton">Cerca</button>
</form>

<div id="result"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#searchForm").submit(function (e) {
                e.preventDefault();
                var microchip = $("#microchip").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CercaPerMicrochipJson", "Animal")',
                    data: { microchip: microchip },
                    success: function (response) {
                        console.log(response)
                        if (response.success) {
                            var ricovero = response.data;
                            var animal = ricovero.animale;
                            var animalDetails = "<dl class='row'>" +
                                "<dt class='col-sm-2'>Foto</dt><dd class='col-sm-10'>" + `<img src="${ricovero.foto}" alt="foto-${animal.name}" class="img-ricovero" />` + "</dd>" +
                                "<dt class='col-sm-2'>Nome</dt><dd class='col-sm-10'>" + animal.name + "</dd>" +
                                "<dt class='col-sm-2'>Tipologia</dt><dd class='col-sm-10'>" + animal.tipologia + "</dd>" +
                                "<dt class='col-sm-2'>Colore</dt><dd class='col-sm-10'>" + animal.colore + "</dd>" +
                                "<dt class='col-sm-2'>Microchip</dt><dd class='col-sm-10'>" + animal.microChipCodice + "</dd>" +
                                "<dt class='col-sm-2'>Data di Nascita</dt><dd class='col-sm-10'>" + new Date(animal.dataNascita).toLocaleDateString('it-IT', { day: '2-digit', month: '2-digit', year: 'numeric' }) + "</dd>" +
                                "<dt class='col-sm-2'>Data Inizio Ricovero</dt><dd class='col-sm-10'>" + new Date(ricovero.dataRicovero).toLocaleDateString('it-IT', { day: '2-digit', month: '2-digit', year: 'numeric' }) + "</dd>" +
                                "<dt class='col-sm-2'>Data Fine Ricovero</dt><dd class='col-sm-10'>" + (ricovero.dataFineRicovero ? new Date(ricovero.dataFineRicovero).toLocaleDateString() : 'In corso') + "</dd>" +
                                "</dl>";
                            $("#result").html(animalDetails);
                        } else {
                            $("#result").html("<p class='text-danger'>" + response.message + "</p>");
                        }
                    },
                    error: function () {
                        $("#result").html("<p class='text-danger'>Si è verificato un errore durante la ricerca.</p>");
                    }
                });
            });
        });
    </script>
}
