@model BW_Clinica_Veterinaria.Models.Entity.Ditta

@{
    ViewData["Title"] = "Aggiungi";
}

<h1>Aggiungi una nuova ditta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-FPA" asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="title-FPA">Aggiungi Ditta</p>
            <label class="label-FPA">
                <span>Nome</span>
                <input asp-for="Nome" class="input-FPA" type="text" placeholder="" required="">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </label>

            <label class="label-FPA">
                <span>Indirizzo</span>
                <input asp-for="Indirizzo" class="input-FPA" type="text" placeholder="" required="">
                <span asp-validation-for="Indirizzo" class="text-danger"></span>
            </label>

            <label class="label-FPA">
                <span>Recapito</span>
                <input asp-for="Recapito" class="input-FPA" type="text" placeholder="" required="">
                <span asp-validation-for="Recapito" class="text-danger"></span>
            </label>

            <input type="submit" value="Crea" class="btn btn-primary submit-FPA fw-bold" />
            <a asp-action="Index" class="btn btn-secondary fw-bold border-button">Torna alla home</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}