html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    background-color: #f8f9fa !important;
}

.margin-main {
    margin-bottom: 150px
}

.img-ricovero {
    width: 5em;
}

.bi {
    color: #007bff;
    font-size: 1.8em;
}

.logo-img {
    height: 40px;
    margin-right: 10px;
}


.image-container {
    position: fixed;
    bottom: 35px; /* Altezza esatta sopra il footer (modifica in base all'altezza del footer) */
    left: 92%;
    transform: translateX(-50%);
    z-index: 1000; /* Assicurati che sia sopra il footer */
}

.image-above-footer {
    width: 300px; /* Regola la larghezza dell'immagine */
    height: auto;
}

.footer {
    z-index:1;
    padding-top: 50px; /* Spazio extra per l'immagine sopra */
}

.header-container {
    position: relative;
    padding: 20px;
    background-color: #f8f9fa; /* Colore di sfondo dell'header */
}

.header-content {
    position: relative;
    padding-bottom: 0px; /* Spazio extra per evitare che il contenuto si sovrapponga all'immagine */
}

.image-bottom-header {
    position: absolute;
    bottom: 0;
    left: 90%;
    transform: translateX(-50%);
    width: 50px; /* Regola la larghezza dell'immagine */
    height: auto;
    z-index: 1; /* Assicurati che l'immagine sia sopra altri contenuti, se necessario */
}